<launch>

  <node name="rover_cam_detect" pkg="rover_cam_detect" type="rover_cam_detect" output="screen" >
   	<remap from="image" to="image_raw"/>
  	<param name="calibPath" value="/home/csrobot/.calibrations/" />
  	<param name="calibFile" value="default_calib.yml" />
  	<param name="maxRockSize" value="100" />
  	<param name="minRockSize" value="5" />
  	<param name="maxCompactNum" value="3.0" />
        <param name="minX" value="0" />
        <param name="minY" value="0" />
        <param name="maxX" value="864" />
        <param name="maxY" value="360" />
        <param name="showViz" value="0" />
  </node>
</launch>

